.notFound {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - var(--header-height));

  img {
    max-width: 60rem;
  }
}
