.player {
  position: relative;
  outline: none;
  height: 92vh;
  display: flex;
  overflow: hidden;
  background: var(--tertiary-color);

  @media (max-width: 767px) {
    height: 50rem;
  }

  @media (max-width: 540px) {
    height: 30rem;
  }
}

.playerVideo {
  height: 100%;
  width: 100%;

  &::cue {
    font-size: 3rem;
    line-height: 0.4rem;
    background-color: rgba(0, 0, 0, 0) !important;
    text-shadow: 0px 0px 10px rgb(29, 28, 28);
  }

  &::-webkit-media-text-track-background {
    background-color: rgba(0, 0, 0, 0) !important;
  }
}

.playerCover {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center;
  transform: all 0.3s ease;

  &[active="true"] {
    display: block;
  }

  &[active="false"] {
    display: none;
  }
}

// conttrols

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.3);
  }
}

// controls
.controls {
  width: 100%;
  height: 100%;
  bottom: 0;
  overflow: hidden;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 3rem;
  padding: 0 1.5rem 0 0.8rem;
  transition: all 0.3s ease;

  &[active="true"] {
    .controlsWrap {
      opacity: 1;
    }
  }
  &[active="false"] {
    .controlsWrap {
      opacity: 0;
    }
  }
}

.controlsTime {
  font-size: 1.5rem;
  color: var(--main-color);
  align-items: center;

  span {
    &:first-child {
      min-width: 1rem;
    }

    min-width: 2rem;
  }
}

.controlsWrap {
  opacity: 0;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: all 0.5s ease;

  &:hover {
    opacity: 1 !important;
  }

  @media (max-width: 767px) {
    height: 10rem;
  }
}

.controlsArea {
  width: 100%;
  height: 100%;
  bottom: 0;
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;

  svg {
    transition: all 1s ease;
    opacity: 0;
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    padding: 1.5rem;
    background: rgba(13, 14, 15, 0.8);
    animation: pulse 1.3s infinite;
  }

  &.active {
    svg {
      opacity: 0.5;
    }
  }
}

.controlWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  position: relative;
  padding-top: 2rem;
  height: 9rem;
}

.controlsLeft {
  display: flex;
  align-items: center;
  svg {
    margin-right: 2rem;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
      transform: scale(1.2) !important;
    }
  }
}

.controlsRight {
  display: flex;
  align-items: center;

  svg {
    transition: all 0.3s ease;
    cursor: pointer;
    margin-left: 2rem;

    &:hover {
      transform: scale(1.2) !important;
    }
  }
}

.title {
  font-size: 1.9rem;
  font-weight: bold;
  margin-right: 2rem;

  @media (max-width: 540px) {
    display: none;
  }
}

// timeline

.timeline {
  width: 99.5%;
  margin-left: 0.7rem;
  transition: all 0.3s ease;
  margin-bottom: -4.5rem;
  position: relative;
  z-index: 3;

  @media (max-width: 540px) {
    width: 98.5%;
  }
}

// volume
.volume {
  position: relative;
  display: flex;
}
