.accountContainer {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 5rem;

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
  }
}

.favoriteMovies {
  max-height: 16rem;
  overflow: hidden;
  overflow-y: scroll;
}

.accountFavoriteMovies {
  display: flex;
  align-items: center;
  border: 2px solid var(--main-color);
  margin-bottom: 2rem;
  padding: 0 1rem 0 0;
  border-radius: var(--radius-sm);

  img {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    object-position: center;
    border-radius: var(--radius-sm);
    margin-right: 1rem;
  }
  p {
    font-size: 1.4rem;
  }
}

.accountFavoriteMoviesFlex {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  button {
    line-height: 0;
    height: unset;
  }
}

.accountImg {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    max-width: 75rem;
  }
}
