.accountContainer {
  display: grid;
  grid-template-columns: 0.7fr 1fr 1fr;
  grid-gap: 5rem;
  margin-top: 5rem;
  min-height: 43vh;

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
  }
}

.accountContent {
  form {
    input {
      border-color: #f3f3f37a;
    }
  }
}

.accountNav {
  ul {
    list-style: none;
    li {
      cursor: pointer;
      margin-bottom: 1rem;
      padding: 0.5rem 1rem;
      display: flex;
      align-items: center;

      svg {
        margin-right: 0.5rem;
      }

      &.active {
        border-radius: var(--radius-sm);
        background: var(--accent-color);
      }
    }
  }
}

// favorite movies
.favoriteMovies {
  height: 26rem;
  overflow: hidden;
  overflow-y: scroll;

  h3 {
    color: var(--accent-color);
  }

  .accountFavoriteMovies {
    display: flex;
    align-items: center;
    border: 2px solid #f3f3f37a;
    margin-bottom: 2rem;
    padding: 0.3rem 1rem 0.3rem 0.3rem;
    border-radius: var(--radius-sm);

    img {
      width: 3.5rem;
      height: 3rem;
      object-fit: cover;
      object-position: center;
      border-radius: var(--radius-sm);
      margin-right: 1rem;
    }
    p {
      font-size: 1.4rem;
    }
  }
  .accountFavoriteMoviesFlex {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    button {
      line-height: 0;
      height: unset;
    }
  }
}

.accountImg {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 28rem;
  }
}
