.logo {
  display: flex;
  align-items: center;
  width: 13rem;
  transition: all 0.3s ease;

  //   children
  a {
    line-height: 0;
    img {
      width: 100%;
    }
  }

  &.hide {
    display: none;
  }
}
