.logo {
  display: flex;
  align-items: center;
  width: 13rem;
  transition: all 0.3s ease;

  //   children
  a {
    line-height: 0;
    img {
      width: 100%;
      height: 4rem;
    }
  }

  @media (max-width: 767px) {
    &.hide {
      display: none;
    }
  }
}
