.ufilma-message {
  position: fixed;
  top: 1.5rem;
  left: 10vw;
  right: 10vw;
  z-index: 9999;
}
.ufilma-content-box {
  transition: all 0.3s;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: #161b22;
  padding: 0.8rem 1rem;
  border-radius: 0.3rem;
  font-size: 1.3rem;
  border: 1px solid #312e2e;

  &.animate-in {
    animation: fade-in 0.3s;
    animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
  }

  &.animate-out {
    animation: fade-out 0.3s;
    animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.34);
  }
}
.ufilma-message-icon {
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  margin-right: 0.8rem;
  border-radius: 50%;
  &.info {
    background: #1890ff;
  }
  &.success {
    background: #52c41a;
  }
  &.error {
    background: #f5222d;
  }
  &.warn {
    background: #faad14;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(-50%);
  }

  to {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }

  to {
    opacity: 0;
    transform: translateX(-50%) translateY(-50%);
  }
}
