.inputTimeline {
  background: transparent !important;
  transition: all 0.3s ease;
  width: 100%;
  transition: all 0.3s ease;
  appearance: none;
  -moz-appearance: auto;
  -webkit-appearance: none;
  height: 3rem;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  /* chrome */
  &::-webkit-slider-runnable-track {
    height: 0.7rem;
    border: none;
    border-radius: 50px;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    height: 1.3rem;
    width: 1.3rem;
    background: var(--accent-color);
    margin-top: -0.3rem;
    border-radius: 50%;
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.6);
    }
  }

  /* firefox */

  &::-moz-range-track {
    cursor: pointer;
  }
  &::-moz-range-thumb {
    z-index: 2;
    cursor: pointer;
    border-radius: 0;
    border: none;
    height: 1.3rem;
    width: 1.3rem;
    background: var(--accent-color);
    margin-top: -0.2rem;
    border-radius: 50%;

    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.6);
    }
  }
}

.progresBar {
  position: absolute;
  width: 100%;
  bottom: 2.6rem;
  z-index: -1;
  transition: 0.3s ease;

  @media (max-width: 786px) {
    bottom: 2.4rem;
  }
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 0.4rem;
  box-shadow: none;
  background: transparent;
  border: none;

  &::-webkit-progress-bar {
    background: transparent;
  }

  &[value]::-webkit-progress-value {
    background: var(--accent-color);
  }

  &[value]::-moz-progress-bar {
    background: var(--accent-color);
  }
}

.progresBarLoaded {
  width: 100%;
  position: absolute;
  bottom: 2.6rem;
  z-index: -1;
  transition: 0.3s ease;

  @media (max-width: 786px) {
    bottom: 2.4rem;
  }

  -webkit-appearance: none;
  -moz-appearance: none;

  appearance: none;
  height: 0.4rem;
  box-shadow: none;
  border: none;
  background: #696969;

  &::-webkit-progress-bar {
    background: #696969;
  }

  &[value]::-webkit-progress-value {
    background: #a0a0a0;
  }

  &[value]::-moz-progress-bar {
    background: #a0a0a0;
  }
}
