.button {
  padding: var(--padding-sm);
  border-radius: var(--radius-sm);
  background: transparent;
  min-width: 9rem;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease;
  color: var(--main-color);
  border: 0.2rem solid var(--main-color);
  display: block;

  //   children
  a {
    color: inherit;
    text-decoration: none;
  }

  //   states
  &:active {
    border: 0.2rem solid var(--accent-color);
  }

  &:hover {
    border: 0.2rem solid var(--accent-color);
  }

  //   variants
  &.primary {
    border: 0.2rem solid var(--primary-color);
    color: var(--primary-color);
  }
  &.secondary {
    border: 0.2rem solid var(--secondary-color);
    color: var(--secondary-color);
  }

  //   sizes
  &.sm {
    padding: var(--padding-sm);
  }
  &.md {
    padding: var(--padding-md);
  }
  &.lg {
    padding: var(--padding-lg);
  }
}
