.dropdown {
  display: flex;
  align-items: center;
}

.dropdownHead {
  cursor: pointer;
  line-height: 0;

  &[variant="accent"] {
    svg {
      color: var(--accent-color);
    }
  }

  &[variant="main"] {
    svg {
      color: var(--main-color);
    }
  }

  svg {
    font-size: 2.5rem;
    border-radius: 50px;
    @media (max-width: 540px) {
      font-size: 3rem;
    }
  }
}

.dropdownBody {
  z-index: 10;
  margin: 0;
  padding: 0;
  position: absolute;
  border-bottom-left-radius: 5px;
  min-width: 27.5rem;
  background: var(--secondary-color);
  color: var(--main-color);

  text-align: left;
  right: 0;
  top: var(--header-height);

  @media (max-width: 540px) {
    width: 100%;
    border-radius: 0;
  }
  li {
    list-style: none;
    padding: 1rem 0;
    border-top: 1px var(--primary-color);
    transition: all 0.3s ease;

    &:hover {
      opacity: 0.7;
    }
    p {
      display: inline-flex;
      align-items: center;
      cursor: pointer;
      margin-left: 1.5rem;
      font-size: 1.2rem;
      color: inherit;

      svg {
        font-size: 1.6rem;
        margin-right: 1rem;
      }
    }
  }
}
