.spinner {
  width: 100vw;
  height: 100vh;
  background: var(--primary-color);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.loader {
  display: inline-block;
  position: relative;
  width: 8rem;
  height: 8rem;
}
.loader div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 6rem;
  height: 6rem;
  margin: 0.4rem;
  border: 0.4rem solid var(--main-color);
  border-radius: 50%;
  animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--main-color) transparent transparent transparent;
}
.loader div:nth-child(1) {
  animation-delay: -0.45s;
}
.loader div:nth-child(2) {
  animation-delay: -0.3s;
}
.loader div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
