@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loader {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%);
  font-size: 7rem;
  z-index: 10;

  svg {
    animation: rotate 1s infinite;
  }
}
