.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2.5rem;
  margin-top: 3rem;

  @media (max-width: var(--media-desktop)) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (max-width: var(--media-tablet)) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: var(--media-mobile)) {
    grid-template-columns: repeat(2, 1fr);
  }
}
