.pageHeader {
  height: 50rem;
  position: relative;
  background-size: cover;

  @media (max-width: 540px) {
    min-height: 40rem;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #0d1117, #4244485e, #7c7d8126, #bcbcbe00, #ffffff00);
    z-index: 1;
  }

  .pageHeaderBody {
    max-width: 40rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2.5rem;
    z-index: 2;

    .pageHeaderBodyTitle {
      font-size: 4rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
    .pageHeaderBodyDesc {
      margin-bottom: 2.5rem;
      font-weight: 1.5rem;
    }
    .pageHeaderBodyBreadcrumb {
      display: flex;
      align-items: center;
      a,
      span {
        position: relative;
        margin-right: 1rem;
        text-decoration: none;
      }
      a::after {
        content: "/";
        margin-left: 1rem;
        font-size: 1.2rem;
      }
      span:last-child {
        &:after {
          content: "";
        }
        color: var(--accent-color);
      }
    }
  }
}
