.pageHeader {
  height: 55vh;
  position: relative;
  background-size: cover;

  @media (max-width: 991px) {
    height: 40vh;
  }

  .imgSvg {
    position: absolute;
    right: 0;
    height: 100%;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--main-gradient);
    z-index: 1;
  }

  .pageHeaderBody {
    margin-top: 2rem;
    max-width: 40rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2.5rem;
    z-index: 2;

    @media (max-width: 540px) {
      max-width: 30rem;
    }

    .pageHeaderBodyTitle {
      font-size: 4rem;
      font-weight: bold;
      margin-bottom: 0.5rem;

      @media (max-width: 540px) {
        font-size: 2.7rem;
      }
    }
    .pageHeaderBodyDesc {
      margin-bottom: 2.5rem;
      font-weight: 1.5rem;
    }
    .pageHeaderBodyBreadcrumb {
      display: flex;
      align-items: center;
      a,
      span {
        position: relative;
        margin-right: 1rem;
        text-decoration: none;
      }
      a::after {
        content: "/";
        margin-left: 1rem;
        font-size: 1.2rem;
      }
      span:last-child {
        &:after {
          content: "";
        }
        color: var(--accent-color);
      }
    }
  }
}
