.card {
  border: 2px solid var(--main-color);
  border-radius: var(--radius-sm);
  transition: transform 0.3s ease;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
  position: relative;
  width: 100%;
  padding-top: 155%;

  &.square {
    width: 100%;
    padding-top: 100%;

    .cardMeta {
      opacity: 1;
      background: transparent;
      color: var(--main-color);

      .cardMetaTitle {
        text-shadow: 0px 0px 2px var(--primary-color);
      }
    }
  }

  .cardBg {
    transition: transform 0.3s ease;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  &:hover {
    .cardBg {
      transform: scale(1.2);
    }
    .cardMeta {
      opacity: 1;
    }
  }
}

.cardMeta {
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--main-color);
  min-height: 4rem;
  display: block;
  opacity: 0;
  transition: all 0.3s ease;
  color: var(--primary-color);
  z-index: 10;
  display: flex;
  justify-content: space-between;

  .cardMetaWrapper {
    .cardMetaQuality {
      text-transform: uppercase;
      color: var(--accent-color);
    }

    .cardMetaTitle {
      font-size: 1.7rem;
    }
  }
}
