.input {
  border: 0.2rem solid var(--main-color);
  color: var(--main-color);
  padding: var(--padding-sm);
  border-radius: var(--radius-sm);
  outline: none;
  margin-bottom: 2rem;
  display: inline;
  min-width: 20rem;
  background: transparent;
  filter: none;
  transition: border 0.1s ease;

  &:focus {
    border: 0.2rem solid var(--accent-color);
  }

  //   displaye
  &.block {
    display: block;
  }

  //   variants
  &.primary {
    border: 0.2rem solid var(--primary-color);
    color: var(--primary-color);
  }
  &.secondary {
    border: 0.2rem solid var(--secondary-color);
    color: var(--secondary-color);
  }

  //   sizes
  &.sm {
    padding: var(--padding-sm);
  }
  &.md {
    padding: var(--padding-md);
  }
  &.lg {
    padding: var(--padding-lg);
  }
}
