.navbar {
  margin-left: 2rem;

  &[searchopen="true"] {
    margin-left: 0;
  }
}

.navbarMenuIcon {
  display: none;
  font-size: 2.5rem;

  color: var(--main-color);

  @media (max-width: 540px) {
    display: block;
    margin-right: 2.5rem;
    line-height: 0;
  }
}

.navbarList {
  transition: all 0.3s ease;
  margin: 0;
  padding: 0;
  display: flex;

  @media (max-width: 540px) {
    z-index: 100;
    flex-direction: column;
    position: absolute;
    display: none;
    right: 0;
    background: var(--secondary-color);
    top: 6rem;
    height: 100%;
    padding: 2.5rem;
    width: 100%;

    &.show {
      display: block;
    }

    &[visible="hide"] {
      display: none;
    }
  }

  &:first-child {
    margin-left: 0;
  }

  li {
    list-style: none;
    margin: 0 1rem;
    font-size: 1.7rem;

    @media (max-width: 540px) {
      margin: 1rem 0;

      font-size: 2rem;
    }

    a {
      color: inherit;
      text-decoration: none;
      border-left: 2px solid transparent;
    }
  }
}
