.inputRange {
  transition: all 0.3s ease;
  width: 100%;
  transition: all 0.3s ease;
  appearance: none;
  -moz-appearance: auto;
  -webkit-appearance: none;
  height: 0.4rem;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  /* chrome */
  &::-webkit-slider-runnable-track {
    height: 0.7rem;
    border: none;
    border-radius: 50px;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    height: 1.3rem;
    width: 1.3rem;
    background: var(--accent-color);
    margin-top: -0.3rem;
    border-radius: 50%;
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.6);
    }
  }

  /* firefox */

  &::-moz-range-track {
    cursor: pointer;
  }
  &::-moz-range-thumb {
    cursor: pointer;
    border-radius: 0;
    border: none;
    height: 1.3rem;
    width: 1.3rem;
    background: var(--accent-color);
    margin-top: -0.2rem;
    border-radius: 50%;

    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.6);
    }
  }
}
