.header {
  background: var(--primary-color);
}

.headerWrapper {
  display: flex;
  align-items: center;
  padding: 0 2.5rem;
  justify-content: space-between;
  height: var(--header-height);
  margin: 0 auto;
}

.headerNav {
  display: flex;
  align-items: center;
  width: 100%;
  @media (max-width: 540px) {
    justify-content: space-between;

    .searchOpen {
      width: 100%;
    }
  }
}

.headerMini {
  display: flex;
  align-items: center;
  @media (max-width: 540px) {
    justify-content: space-between;
    .searchOpen {
      width: 100%;
    }
  }
}

.headerAuth {
  font-size: 2.5rem;
  margin-left: 2rem;
  display: flex;
  @media (max-width: 540px) {
    margin-left: 3rem;
  }
  a {
    display: flex;
    align-items: center;
  }
  svg {
    cursor: pointer;
  }
}
