.header {
  background: transparent;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  &.sticky {
    background: var(--primary-color);
  }
}

.headerWrapper {
  display: flex;
  align-items: center;
  padding: 0 2.5rem;
  justify-content: space-between;
  height: var(--header-height);
  margin: 0 auto;
}

.headerNav {
  display: flex;
  align-items: center;

  @media (max-width: 540px) {
    justify-content: space-between;
  }
}

.headerMini {
  position: relative;
  display: flex;
  align-items: center;
  @media (max-width: 540px) {
    position: static;
    justify-content: flex-end;
    width: 100%;
  }
}

.headerAuth {
  font-size: 2.5rem;
  margin-left: 2rem;
  display: flex;
  @media (max-width: 540px) {
    margin-left: 3rem;
  }
  a {
    display: flex;
    align-items: center;
  }
  svg {
    cursor: pointer;
  }
}
