html {
  font-size: 62.5%;
  @media (max-width: 767px) {
    font-size: 50%;
  }
}
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  ::-webkit-scrollbar {
    display: none;
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;

  color: var(--main-color);
}
h1 {
  font-weight: 500;
}
h2 {
  font-weight: 500;
}
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

a:any-link {
  color: inherit;
}
