html {
  font-size: 62.5%;
  @media (max-width: 767px) {
    font-size: 50%;
  }
}
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  ::-webkit-scrollbar {
    display: none;
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--main-color);
}
h1 {
  font-weight: 500;
}
h2 {
  font-weight: 500;
}
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

a:any-link {
  color: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--main-color);
  transition: background-color 5000s ease-in-out 0s;
}

.active {
  font-weight: bold;

  @media (max-width: 540px) {
    border-bottom: 2px solid var(--accent-color);
  }
}
